body {
  background-color: #F9F4F2;
  font-family: 'Raleway', sans-serif;
  color: #54494B;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #54494B;
  height: 55px;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: 'Poiret One', sans-serif;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-container {
  max-width: 500px;
  margin: 0 auto;
  border: 8px black solid;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button {
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  border: 0 none;
  border-radius: 4px;
  line-height: 1.3;
  box-shadow: 2px 5px 10px gray;
  font-size: 18px;
  background-color: #91C7B1;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #54494B;
}

.button:hover {
  transition: all 150ms linear;
  background-color: #B9DBCD;
}

.disabled {
  background-color: lightgray;
}

.disabled:hover {
  background-color: lightgray;
  cursor: default;
}

.results-container {
  display: flex;
  justify-content: space-evenly;
  margin: 3em;
  font-size: 20px;
}

.percent {
  font-size: 35px;
  color: #5D7F71;
}

.no-margin {
  margin: 0;
}

.margin2em {
  margin: 2em;
}

.url-input {
  margin: 0;
  margin-bottom: 15px;
  padding: 3px;
  color: inherit;
  width: 500px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: inherit;
  border: 1px solid #5D7F71;
  border-radius: 0.4rem;
  transition: all 300ms linear;
}

.url-input:focus {
  outline: none;
  box-shadow: 5px 8px 20px grey;
}

.error-container {
  background-color: #d64444;
  line-height: 40px;
  position: absolute;
  width: 100%;
  color: white;
  transition: all 3s linear;
}
